# code: language=yaml
#
# Output XR status from $state.status
#

{{- $xr := getCompositeResource . }}
{{- $s := $state.status }}
---
apiVersion: {{ $xr.apiVersion }}
kind: {{ $xr.kind }}
status:
  ready: {{ $s.ready }}
  release:
    name: {{ $s.release.name }}
    namespace: {{ $s.release.namespace }}
    ready: {{ $s.release.ready }}
